/server/.env
/server/.vscode
server/db.sqlite3
/server/jobs/__pycache__
/worker/outputs
/server/notebook_platform/__pycache__
/server/jobs/migrations/__pycache__
/server/media/*
requests/request.py
server/.env.dev
server/kubeconfig-docker.yaml
/server/k8s-manifests
