# Server and Worker ignores
/server/.env
/server/.vscode
server/db.sqlite3
/server/jobs/__pycache__
/worker/outputs
/server/notebook_platform/__pycache__
/server/jobs/migrations/__pycache__
/server/media/*
requests/request.py
server/.env.dev
server/kubeconfig-docker.yaml
/server/k8s-manifests

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock info
.terraform.tfstate.lock.info

.idea/
.vscode/settings.json
/server/staticfiles
/server/jobs/tests/__pycache__
/server/jobs/tests/__pycache__
*.pyc
*.pyc
server/zappa_settings.json
